<div class="checkout-item-card">
  <div class="checkout-item-card__img">
    <img src="assets/img/{{img}}" alt="{{title}}">
  </div>
  <div class="checkout-item-card__description">
    <p class="checkout-item-card__title">{{title}}</p>
    <p class="checkout-item-card__cat">{{cat}}</p>
    <p class="checkout-item-card__price">{{price}}</p>
  </div>
</div>