<div class="item-card" itemscope itemtype="http://schema.org/Product">
  <a href="item.html">
    <div class="item-card__img">
      <img class="lazyload" data-src="assets/img/{{img}}" alt="{{title}}">
    </div>
    <p itemprop="name" class="item-card__title">{{title}}</p>
    <p itemprop="description" class="item-card__cat">{{cat}}</p>
    <p itemprop="price" class="item-card__price">{{price}}</p>
  </a>
</div>